<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка</title>
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body> 
    <%# application layout styled for Bootstrap 2.3 %>
    <main role="main">
      <div class="container">          
        <%= yield %>       
      </div>
    </main>
  </body>
</html>